.login-button {
    width: 100%;
    display: flex;
    align-items: center;
    height: 52px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #C5C8CE;
    justify-content: center;
    background-color: #F1F3F7;
    margin-top: 40px;
}
.login-button--dis {
    width: 100%;
    display: flex;
    align-items: center;
    height: 52px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    justify-content: center;
    background-color: #53E3AC;
    margin-top: 40px;
}
.kakao-button:hover,
.login-button--dis:hover,
.login-button:hover{
    border-radius: 10px;
    filter: brightness(95%);
}
.kakao-button{
    width: 100%;
    display: flex;
    align-items: center;
    height: 52px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    justify-content: center;
    background-color: #fee500;
    margin-top: 20px;
}
.header{
    height: 60px;
}
.backbtn {
    width: 24px;
    height: 24px;
    border-radius: 10px;
    cursor: pointer;
}
.backbtn:hover {
    background-color: #f1f3f7;
}
.inputField {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-image: initial;
    outline: 0px;
    margin: 0px;
    padding: 0px;
    caret-color: #b0b6be;
    height: 44px;
    width: 100%;
    border-radius: 0px;
    border-bottom: solid 1px #b0b6be;
    font-family: SpoqaHanSansNeo;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    text-align: left;
    color: #b0b6be;
}
.inputField:focus{
    border-bottom: solid 1px #53E3AC;
}